@charset "UTF-8";
@import url(index.css);
@import url(hamburger.css);

.form {
    height: 20%;
    width: 100%;
    border-bottom: 0.1em solid lightgray;
    margin-bottom: 0.5em;
    padding: 0.5em;
}

h2 {
    margin: 0;
    padding: 0.2em;
}

.link {
    font-size: 2em;
}
