@charset "UTF-8";
@import url(index.css);
@import url(hamburger.css);

main {
    width: 100%;
    overflow-x: scroll;
    background-color: red;
}

#subevent-blank {
    width: 20px;
    height: 50px;
    margin: 0;
    background-color: black;
}

#subevent-area {
    height: 50px;
    width: calc(20px + 300px * 6);
    display: flex;
    background-color: blue;
}

.subevent-title {
    width: 300px;
    height: 50px;
    margin: 0;
    color: white;
    line-height: 50px;
    text-align: center;
    border-left: 1px solid white;
    word-wrap: break-word;
    background-color: black;
}

#event {
    height: 90%;
    width: calc(20px + 300px * 6);
    overflow-y: scroll;
    background-color: blue;
}

#time-area {
    width: 20px;
    height: 447px;
    position: fixed;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

#time-area::-webkit-scrollbar {
    display: none;
}

.constant-hour {
    height: 300px;
    margin: 0;
    color: white;
    background-color: lime;
    border-bottom: 1px solid white;
    text-align: center;
    line-height: 300px;
}

#event-area {
    width: 100%;
    height: 100%;
    /*    background-color: yellow;*/
}

#event-area p {
    margin: 0;
}
