@charset "UTF-8";
@import url(index.css);
@import url(hamburger.css);

main {
    width: 100%;
    overflow-x: scroll;
}

#subevent-blank {
    width: 20px;
    height: 50px;
    margin: 0;
    background-color: black;
}

#subevent-area {
    height: 50px;
    width: calc(20px + 300px * 6);
    display: flex;
}

.subevent-title {
    width: 300px;
    height: 50px;
    margin: 0;
    color: white;
    line-height: 50px;
    text-align: center;
    border-left: 1px solid white;
    word-wrap: break-word;
    background-color: black;
}

#event {
    height: 90%;
    overflow-wrap: break-word;
    width: calc(20px + 300px * 6);
    display: flex;
    overflow: auto;
    -ms-overflow-style: none;
}

#event::-webkit-scrollbar {
    display: none;
}

#time-area {
    width: 20px;
    height: 447px;
    position: fixed;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

#time-area::-webkit-scrollbar {
    display: none;
}

.constant-hour {
    height: 300px;
    margin: 0;
    color: white;
    background-color: lime;
    border-bottom: 1px solid white;
    text-align: center;
    line-height: 300px;
}

#event-area {
    display: flex;
    width: calc(300px * 6);
    height: 7223px;
    margin-left: 20px;
}

#event-area p {
    margin: 0;
}

.event-contents {
    width: 300px;
    height: 7223px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: 1px solid lightgray;
}

.event-button {
    width: 100%;
    margin-bottom: 1px;
    background-color: aliceblue;
    border: none;
    border-bottom: 1px solid lightgray;
}

.event-time {
    margin: 0;
    float: left;
    color: gray;
}

.event-division {
    width: 96%;
    padding: 0;
    margin: 0 0 100% 5%;
}

.event-title {
    font-size: 15px;
    text-align: left;
    font-weight: bold;
    word-wrap: break-word;
}

.event-text {
    height: 100%;
    font-size: 15px;
    text-align: left;
}
