@charset "UTF-8";

body {
    height: 37em;
    display: block;
    align-content: center;
    margin: 0 auto;
    background-color: whitesmoke;
    font-size: 17px;

}

header {
    padding: 10px;
    background-color: whitesmoke;
}

main {
    height: 90%;
    margin: 0 auto 5px auto;
    background-color: whitesmoke;
    display: flex;
}

footer {
    width: 100%;
    height: 2em;
    margin: 0;
    background-color: whitesmoke;
}

p {

    margin: 0;
}
