@charset "UTF-8";
@import url(index.css);

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, .5);
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .3);
}

.breadcrumb {
    list-style: none;
    display: flex;
    margin: 0;
    height: 100%;
}

main{
	display: block;
	margin: 0 auto;
}

#title{
	height: 8%;
	width: 100%;
	margin: 0;
	text-align: center;
	font-size: 1.5em;
	color: gray;
}

#top{
	display: flex;
	font-size: 1.5em;
	width: 75%;
	height: 25%;
	margin: 0 auto 0.5% auto;
}

#bottom{
	display: flex;
	font-size: 1.5em;
	width: 75%;
	height:50%;
	margin: 0 auto 0.5% auto;
}

#control{
	display: flex;
	margin: 0 auto;
	width: 75%;
}

textarea{
	font-size: 1em;
	display: block;
	resize: none;
	padding: 1%;
	border-color: 1px solid lightgray;
	border-radius: 6px;
}

label{
	font-size: 1.5em;
	color: gray;
}

.square_btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: gray;
    border: 1px solid darkgray;
    border-radius: 3px;
    transition: .4s;
    background-color: white;
    margin: 0 auto;
}

.square_btn:hover {
    background: #AFB5F3;
    color: white;
}
