@charset "UTF-8";
@import url(index.css);
@import url(hamburger.css);

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, .5);
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .3);
}

main {
    margin: 0 auto;
    text-align: center;
}

#contents {
    width: 70%;
    height: 80%;
    margin: 0 auto;
}

#search {
    width: 100%;
    height: 9%;
    display: flex;
    text-align: center;
}

#select {
    width: 24%;
    font-size: 1.2em;
    color: gray;
    /*    background-color: aqua;*/
}

#textfield {
    width: 57%;
    font-size: 1.2em;
    margin-left: 1px;
}

#question {
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    border: 2px solid darkgray;
    border-radius: 3px;
    margin-top: 2%;
    margin-bottom: 2%;
}

#question::-webkit-scrollbar {
    display: none;
}

#common-contents li {
    width: 90%;
    font-size: 2em;
    border-bottom: 1px dotted darkgray;
    margin-bottom: 5px;
}
.liSubmit{
	border: none;
	 width: 90%;
    font-size: 2em;
    color:blue;
    transition: .3s;
    border-bottom: 1px dotted darkgray;
	background-color: whitesmoke;
    margin-bottom: 5px;
    text-align: left;
}

.liSubmit:hover{
	color: violet;
}

.breadcrumb {
    list-style: none;
    display: flex;
    margin: 0;
    height: 100%;
}

/*ここからQuestion-submit*/
#contents2 {
    width: 50%;
    height: 75%;
    margin: 0 auto;
    display: block;
}

p {
    display: inline;
    color: gray;
    font-size: 20px;
}
#cqa{
	width: 100%;
	height: 90%;
	display: block;
	margin: 0;
}
#select2 {
    width: 100%;
    height: 40px;
    font-size: 20px;
}

textarea {
    width: 99%;
    height: 60%;
    font-size: 20px;
}

button {
    margin: 0 auto;
    width: 50%;
    height: 40px;
    font-size: 20px;
    background-color: white;
    border: 1px solid white;
}

/*question-responce*/
#responce-main {
    width: 70%;
    height: auto;
    background-color: aliceblue;
    margin: 0 auto;
    border: 3px solid darkgray;
    border-radius: 3px;
    margin-bottom: 1em;
    padding: 1em;
    /*    background-color: red;*/
}

#responce-sub {
    width: 70%;
    height: 50%;
    background-color: aliceblue;
    margin: 0 auto;
    border: 3px solid darkgray;
    border-radius: 3px;
    overflow-y: auto;
    padding: 1em;
    margin-bottom: 0.5em;
    /*    background-color: blue;*/
}
#responce-sub p {
	height: 20%;
    color: black;
    overflow: scroll;
}

#responce-main p {
	height: 40%;
    color: black;
    overflow: scroll;
}

#control {
    width: 73%;
    margin: 0 auto 0 auto;
    text-align: center;
}
.textarea{
	outline: none;
	resize: none;
}

.square_btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: darkgray;
    border: solid 2px darkgray;
    border-radius: 3px;
    transition: .4s;
    text-align: center;
}

.square_btn:hover {
    background: lightblue;
    color: white;
}

#return {
    width: 5em;
    margin-left: 17.5em;
    margin-right: 17.5em;
}

/*共通設定*/

#title {
	display: block;
	width: 100%;
    text-align: center;
    color: gray;
    font-weight: bold;
}

#square_btn {
    display: inline-block;
    padding: 0.7em 1.2em;
    text-decoration: none;
    color: gray;
    border: solid 2px gray;
    border-radius: 3px;
    transition: .4s;
    background-color: white;
}

#square_btn:hover {
    background: #AFB5F3;
    color: white;
}
