@charset "UTF-8";
@import url(index.css);
@import url(hamburger.css);

main {
    margin: 0 auto;
    display: flex;
}

#nav {
    height: 70%;
    width: 20%;
    margin-top: 2em;
    padding: 0.1em;
    border: 0.1em solid darkgray;
}

#nav button {
    text-decoration: none;
    width: 100%;
    margin: 0.5em 0 0 0;
    border-bottom: 0.1em solid darkgray;
    border-collapse: collapse;
    display: inline-block;
}

#sub {
    width: 80%;
    height: 100%;
    display: block;
}

.text {
    width: 50%;
    height: 2.5em;
}

h2 {
    display: inline;
    color: darkkhaki;
    font-family: Times, Times New Roman, Georgia, serif;
}

p{
	display: inline;
	margin: 0 0 0 1em;
	color: red;
}

.title {
    width: 100%;
    border-bottom: 0.1em solid darkgray;
    margin-bottom: 0.5em;
}

.contents {
    margin-bottom: 5em;
}

.square_btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: gray;
    border: 1px solid darkgray;
    border-radius: 3px;
    transition: .4s;
    background-color: white;
}

.square_btn:hover {
    background: #AFB5F3;
    color: white;
}
