@charset "UTF-8";
@import url(index.css);
@import url(Page.css);
@import url(hamburger.css);


@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
}

.bbb {
    font-size: 30px;
    margin: 30px 0px 0px 20px;

}

.box {
    width: 100%;
    height: 100%;
    margin: 40px;
    background-color: #fff;
    background-image:
        repeating-linear-gradient(98deg,
        rgba(153, 153, 153, 0.52),
        rgba(153, 153, 153, 0.52) 50px,
        rgba(0, 0, 0, 0) 0,
        rgba(0, 0, 0, 0) 100px),
        repeating-linear-gradient(188deg,
        rgba(107, 116, 217, 0.59),
        rgba(107, 116, 217, 0.59) 50px,
        rgba(0, 0, 0, 0) 0,
        rgba(0, 0, 0, 0) 100px);
}

.scroll {
    margin: auto;
    width: 96%;
    font-size: 140px;
    line-height: 1.5em;
    text-align: center;
    color: #000000;
    background: whitesmoke;
    overflow: hidden;
}

.scroll span {
    display: inline-block;
    padding-left: 100%;
    white-space: nowrap;
    line-height: 1em;
    animation: scrollAnime 15s linear infinite;
}

@keyframes scrollAnime {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}

.btn {
    display: inline-block;
    /* 改行なしのブロック要素 */
    position: relative;
    /* 相対位置指定 */
    width: 200px;
    /* 横幅 */
    height: 60px;
    /* 高さ */
    text-align: center;
    /* 水平方向は中央揃え */
    line-height: 56px;
    /* 行の高さ */
}

.btn span {
    display: block;
    /* ブロック要素 */
    position: absolute;
    /* 親要素の左上を基準位置 */
    width: 100%;
    /* 横幅 */
    height: 100%;
    /* 高さ */
    border: 2px solid #333;
    /* 罫線 */
    transform-style: preserve-3d;
    /* 重なりを3Dで表示 */
    transition: 0.5s;
    /* 変化時間 */
    margin-left: 1100px;
}

.btn span:nth-child(1) {
    background-color: whitesmoke;
    /* Buttonボタンの色 */
    color: #000000;
    /* Buttonの文字の色 */
    transform: rotateX(0deg);
    /* 横軸の回転なし */
    transform-origin: 0 50% -30px;
    /* transformの起点 */
}

.btn span:nth-child(2) {
    background-color: #000000;
    /* Clickボタンの色 */
    color: #ffffff;
    /* Clickの文字の色 */
    transform: rotateX(90deg);
    /* 横軸で90度回転 */
    transform-origin: 0 50% -30px;
    /* transformの起点 */
}

.btn:hover span:nth-child(1) {
    transform: rotateX(-90deg);
    /* 横軸で前方に90度回転 */
}

.btn:hover span:nth-child(2) {
    transform: rotateX(0deg);
    /* 横軸の回転なし */
}
