@charset "UTF-8";
@import url(index.css);
@import url(hamburger.css);

main {
    display: flex;
}

.ht {
    font-size: 1.5em;
    display: inline;
}

.button {
    margin: 5px 0 5px 0;
}

.area {
    padding: 0 0 0 20px;
    height: auto;
    width: 45%;
    background-color: #e5e4e6;
    margin: 0 auto;
}

.textfield,
select {
    width: 300px;
    font-size: 1em;
    margin-bottom: 0.5em;
}
