@charset "UTF-8";
@import url(index.css);

table {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

img {
    width: 80%;
    height: 80%;
    border: 5px solid darkgray;
    border-radius: 8px
}

th :hover {
    border: 5px solid lightblue;
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: darkgray;
}
