@charset "UTF-8";
@import url(index.css);

#title {
    text-align: center;
    font-size: 60px;
    line-height: 0cm;
}

#area {
    width: 400px;
    height: 400px;
    margin: 100px 35% 10px 35%;
    background-color: dimgrey;
}

.assistant {
    font-size: 35px;
    text-align: center;
    color: midnightblue;
}

.textfield {
    font-size: 20px;
    width: 300px;
    margin: 20px 0 50px 40px;
}

.button {
    margin-left: 290px;
    display: inline-block;
    border-radius: 5%;
    /* 角丸       */
    font-size: 18pt;
    /* 文字サイズ */
    text-align: center;
    /* 文字位置   */
    cursor: pointer;
    /* カーソル   */
    padding: 12px 12px;
    /* 余白       */
    background: #000066;
    /* 背景色     */
    color: #ffffff;
    /* 文字色     */
    line-height: 1em;
    /* 1行の高さ  */
    transition: .3s;
    /* なめらか変化 */
    box-shadow: 6px 6px 3px #666666;
    /* 影の設定 */
    border: 2px solid #000066;
    /* 枠の指定 */
}

.button:hover {
    box-shadow: none;
    /* カーソル時の影消去 */
    color: #000066;
    /* 背景色     */
    background: #ffffff;
    /* 文字色     */
}
